body {
    display: block;
    background-color: #87a1ff;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

hr {
    background-color: #ffb56b;
    border: 1px solid #000;
    border-radius: 7px 7px 7px 7px;
    height: 2px;
}

table {
    background-color: #ffb56b;
    border: 1px solid #000;
    border-radius: 7px 7px 7px 7px;
    margin: 15px;
    padding: 3px;
}

tr,td,th {
    background-color: #87a1ff;
    border: 1px solid #000;
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 940px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}